<div class="row">
  <!--header-->
  <div class="col s12 l12 blue darken-3">
  <div class="row white-text">
    <div class="col s3">
      <h5>OnlineBanking</h5>
    </div>
    
    <div class="col s12 l8">
      <p class="">
        Entraste hoy 11 de mayo de 2018 a las <br />
        6:17:46 pm pst
      </p>
    </div>
    
    <div class="col s12 l1">
      <p>
      <i class="material-icons">notifications</i>2
      <i class="material-icons">message</i>5
      </p>	
    </div>
  </div>
  </div>
  <!--header-->
  
  <!--Menu-->
  <div class="col s12 l3 boxContenedor">
  
  <div class="row">
    <div class="col s12">
      <div class="card blue darken-3 curva">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s4">
            <i class="material-icons medium">person_pin</i>
          </div>
          <div class="col s8">
            <h5>{{user$.usuario}}</h5>
          </div>
          
          <div class="col s12">
            <p>Tu ultima sesion fue el {{user$.ultimaConexion}} a las 2:37 P.M. PST.</p>
          </div>
        </div>
      </div>
      <div class="card-action white blue-text text-darken-3">
        <div class="row">
          <div class="col s12  l12">
          Tu saldo total es:
          </div>
          <div class="col s12 l12">
            <h4>{{user$.saldoTotal}} USD</h4>
          </div>
        </div>
      </div>
      </div>
    </div>
    
    <div class="col s12 blue-text text-darken-3">
      <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons">dashboard</i>Dashboard</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">find_replace</i>Balance general</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">swap_horiz</i>Transacciones</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">credit_card</i>Tarjetas</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">attach_money</i>Creditos</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      </ul>
    </div>
    
    <div class="col s12 blue-text text-darken-3">
      <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons">local_phone</i>Contactanos</div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">help</i>Ayuda</div>
      </li>
      </ul>
    </div>
    </div>
    
    <div class="col s12">
      <p class="blue-text text-darken-3">OnlineBanking ha sido creada por 14T. Todos los derechos reservados</p>
    </div>
    
  </div>
  <!--Menu-->

  <div class="col s12 l9">
    <h4 class="blue-text text-darken-3">Consulta/Pago de servicios</h4>
    
    <div class="row">
      <div class="col s12 l6">
        <ul class="collection">
          <a href="#!" class="collection-item blue-grey lighten-4 black-text"><span class="badge">pagado</span>Servicios</a>
          <li class="collection-item" *ngFor="let servicio of servicios$"><span class="badge"><i class="material-icons">check</i></span>{{servicio.servicio}}</li>
        </ul>
      </div>
      <div class="col s12 l6">
          <div class="row">
          <div class="col s12">
            <div class="card blue-grey darken-1">
            <div class="card-action blue-grey lighten-3">
              Informacion de bitacora
            </div>
            <div class="card-content white">
              <h5 class="blue-text text-darken-3">Energia</h5>
              
              <div class="blue-grey lighten-5 black-text">
              <i class="material-icons">format_list_bulleted</i>
              Cuenta origen 
              </div>
              <div class="row">
              <div class="col s7">
                <p>ID: <br />
                {{consumo$.id}}</p>
                <br />
                <p>
                  Descripcion: <br />
                  {{consumo$.descripcion}}
                </p>
                <br />
                <p>Cuotas atrasadas: {{consumo$.atraso}}
                </p>
                <br />
                <p>Consumo de watts: <br />
                  {{consumo$.consumo}} Kw
                </p>
              </div>
              <div class="col s5">
                <h5>Saldo actual: <br />
                {{consumo$.saldo}} USD</h5>
                <br />
                <h5>
                  Saldo mora: <br />
                  {{consumo$.mora}} USD
                </h5>
                <br />
                <a class="waves-effect waves-light btn blue darken-3">pagar</a>
              </div>
              </div>
            </div>
            </div>
          </div>
          </div>
      </div>
    </div>
    </div>
  
</div>