<div class="row">
  <div class="col s12 l3"><br /></div>


  <!--Content-->
  <div class="col s12 l9">
  <h4 class="blue-text text-darken-3">Consulta/Pago de servicios</h4>
  
  <div class="row">
    <div class="col s12 l6">
      <div class="collection">
        <a href="#!" class="collection-item blue-grey lighten-4 black-text"><span class="badge">pagado</span>Servicios</a>
        <a href="#!" class="collection-item"><span class="badge"><i class="material-icons">check</i></span>Energia</a>
        <a href="#!" class="collection-item black-text"><span class="badge"><i class="material-icons">check</i></span>Telefonia celular</a>
        <a href="#!" class="collection-item black-text"><span class="badge"><i class="material-icons">check</i></span>Telefonia fija</a>
        <a href="#!" class="collection-item black-text"><span class="badge"><i class="material-icons">check</i></span>Prepago</a>
        <a href="#!" class="collection-item black-text"><span class="badge"><i class="material-icons">check</i></span>Otro servicio</a>
        <a href="#!" class="collection-item black-text"><span class="badge"><i class="material-icons">check</i></span>Otro servicio</a>
        <a href="#!" class="collection-item black-text"><span class="badge"><i class="material-icons">close</i></span>Otro servicio</a>
        <a href="#!" class="collection-item black-text"><span class="badge"><i class="material-icons">check</i></span>Otro servicio</a>
        <a href="#!" class="collection-item black-text"><span class="badge"><i class="material-icons">close</i></span>Otro servicio</a>
        <a href="#!" class="collection-item black-text"><span class="badge"><i class="material-icons">close</i></span>Otro servicio</a>
        <a href="#!" class="collection-item black-text"><span class="badge"><i class="material-icons">check</i></span>Otro servicio</a>
      </div>
    </div>
    <div class="col s12 l6">
        <div class="row">
        <div class="col s12">
          <div class="card blue-grey darken-1">
          <div class="card-action blue-grey lighten-3">
            Informacion de bitacora
          </div>
          <div class="card-content white">
            <h5 class="blue-text text-darken-3">Energia</h5>
            
            <div class="blue-grey lighten-5 black-text">
            <i class="material-icons">format_list_bulleted</i>
            Cuenta origen 
            </div>
            <div class="row">
            <div class="col s7">
              <p>ID: <br />
              228739</p>
              <br />
              <p>
                Descripcion: <br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <br />
              <p>Cuotas atrasadas:0
              </p>
              <br />
              <p>Consumo de watts: <br />
                12345 Kw
              </p>
            </div>
            <div class="col s5">
              <h5>Saldo actual: <br />
              388,47 USD</h5>
              <br />
              <h5>
                Saldo mora: <br />
                46,89 USD
              </h5>
              <br />
              <a class="waves-effect waves-light btn blue darken-3">pagar</a>
            </div>
            </div>
          </div>
          </div>
        </div>
        </div>
    </div>
  </div>
  </div>
  <!--Content-->
  
</div>